* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(35, 68, 103);
    text-align: center;
    padding: 15px;
}

nav li {
    display: inline-block;
}

nav li:not(:last-child) {
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

