section {
    background-color: #E6E5E5;
    width: fit-content;
    padding: 30px;
    margin: 0 auto;
}

h3 {
    color: #224262;
    text-align: center;
}

ol li {
    line-height: 1.5;
    border-bottom: 1px solid #000;
    color: #474545;
    margin-bottom: 5px;
}